body {
    background: #1d1d1d !important;
}
/* NAVBAR SECTION */
.navbar {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    background-color: transparent;
}

.navbar-list {
    margin-top: auto !important;
    margin-left: auto;
    display: flex;
    list-style: none;
}

#logo {
    font-family: 'Finger Paint', cursive;
    font-size: 35px;
    color: #64ffda;
    margin: 0px;
    padding: 0px;
}
  
a {
    text-decoration: none !important;
    color: #64ffda !important;
    padding: 0px 15px;
    font-family: Consolas;
}

.menu {
    border: none;
    color:#8892b0;
    opacity: 0.6;
    transition: 0.3s;
}
.menu:hover {
    opacity: 1;
    color: #64ffda;
}
.custom-btn {
    background-color: #0a192f !important;
    border: none;
    opacity: 0.7;
    color: #64ffda !important;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    margin-left: 15px;

}
.custom-btn:hover {
    opacity: 1;
    color: #8892b0 !important;
}

/* SOCIAL ICONS SECTION*/


.social-icons {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-left: 40px;
    list-style: none;
    position: fixed;
    height: 87%;
    justify-content: end;
}

.social-icons li {
    padding: 5px 0px;
}

.social-icons::after {
    content: "";
    display: block;
    width: 2px;
    height: 150px;
    margin: 10px auto;
    background-color: #64ffda;
}

/* INTRO SECTION */

.intro {
    padding-left: 150px;
    margin-left: 110px;
    display: grid;
    height: 600px;
    padding-right: 50px;
}

.intro-text {
    margin-top: 30px;
}

.first-intro-text {
    color: #64ffda;
    font-size: 20px;
    font-family: Consolas;
    padding: 5px 0px;
    display: inline-block;
}

.intro h1 {
    font-size: 60px;
    color: white;
    padding: 5px 0px;
}

.second-intro-text {
    color: #8892b0;
    font-size: 40px;
    padding: 5px 0px;
    display: inline-block;
}

#container {
    color:#8892b0;
    font-size:30px;
    bottom:45%;
    display:flex;
    padding: 5px 0px;
}
  
#flip {
    height:50px;
    overflow:hidden;
    font-family: Consolas;
    padding-top: 3px;
}
  
#flip > div > div {
    color:#64ffda;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}
  
#flip div:first-child {
    animation: show 14s linear infinite;
}
  
#flip div div {
    margin-left: 10px;
    font-weight: bold; 
}
  
@keyframes show {
    0% {margin-top:-540px;}
    5% {margin-top:-450px;}
    16.66% {margin-top:-450px;}
    21.66% {margin-top:-360px;}
    33.33% {margin-top:-360px;}
    38.33% {margin-top:-270px;}
    50% {margin-top:-270px;}
    55% {margin-top:-180px;}
    66.66% {margin-top:-180px;}
    71% {margin-top:-90px;}
    83.33% {margin-top:-90px;}
    88.33% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-540px;}
}

.image-intro {
    position: absolute;
    right: 0;
    top: 250px;
    padding-right: 50px;
}

.photo-intro {
    height: 400px;
}

/* ABOUT SECTION */

.about{
    padding: 100px 150px;
    margin: 0px 160px;
    display: flex;
}
.about-section {
    display: block;
    padding-bottom: 40px;
}
.about-number {
    color: #64ffda;
    font-family: Consolas;
    font-size: 25px;
    padding-bottom: 40px;
    display: inline-block;
}

.about-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.about-number::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -5px;
    width: 220px;
    height: 1px;
    margin-left: 20px;
    background-color: #80ffe5;
}

.about-text {
    color: #8892b0;
    font-size: 18px;
    display: inline-block;
    width: 525px;
}

#about-photo {
    border-radius: 2%;
}

.about-image {
    padding-top: 90px;
}

/* SKILLS SECTION */


.skills{
    padding: 100px 150px;
    margin: 0px 160px;
}
.skills-section {
    display: block;
    padding-bottom: 40px;
}
.skills-number {
    color: #64ffda;
    font-family: Consolas;
    font-size: 25px;
    padding-bottom: 40px;
    display: inline-block;
}

.skills-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.skills-number::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -5px;
    width: 220px;
    height: 1px;
    margin-left: 20px;
    background-color: #80ffe5;
}

.skills-text {
    color: #8892b0;
    font-size: 18px;
    display: block;
}

.container-icons {
    text-align: center;
    margin-bottom: 3rem;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-icons .box-icon {
    width: 149px;
    height: 175px;
}

.container-icons .all-icons {
    color: #64ffda;
    max-width: 115px;
    height: 100px;
    padding-bottom: 15px;
}

.container-icons .box-icon p {
    color: #8892b0;
    font-weight: bold;
}

.skills-last-section h4 {
    font-size: 25px;
    color:white;
}

.skills-last-section p {
    color:#8892b0;
}

/* WORK SECTION */

.work {
    padding: 100px 150px;
    margin: 0px 160px;
}
.work-section {
    display: block;
}
.work-number {
    color: #64ffda;
    font-family: Consolas;
    font-size: 25px;
    padding-bottom: 40px;
    display: inline-block;
}

.work-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.work-number::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -5px;
    width: 280px;
    height: 1px;
    margin-left: 20px;
    background-color: #80ffe5;
}

.under-construction {
    width: 900px;
    border-radius: 10px;
}

.work p {
    text-align: center;
    color:#64ffda;
    font-size: 30px;
    font-family: Consolas;
}

/* CONTACT SECTION */

.contact {
    padding: 100px 0px 100px 150px;
    margin: 0px 0px 0px 160px;
    display: flex;
}
.contact-heading {
    display: block;
    padding-bottom: 10px;
}
.contact-number {
    color: #64ffda;
    font-family: Consolas;
    font-size: 25px;
    padding-bottom: 40px;
    display: inline-block;
}

.contact-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.contact-number::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -5px;
    width: 270px;
    height: 1px;
    margin-left: 20px;
    background-color: #80ffe5;
}

.contact-text {
    color: #8892b0;
    font-size: 18px;
    width: 525px;
}

.contact-form {
    width: 550px;
}

.contact-form label {
    color:#64ffda;
    font-family: Consolas;
}

.form-row {
    display: flex;
}

.form-group {
    padding: 5px 0px !important;
}

.pl-2 {
    padding-right: 10px !important;
}

.ml-auto {
    margin-left: auto !important;
}

.contact-map {
    padding: 24.5px 79px;
}
/* SHARED */

.custom-btn {
    background-color: #1d1d1d !important;
    border: none;
    opacity: 0.7;
    color: #64ffda !important;
    margin-bottom: 7.5px;
    margin-top: 7.5px;
    margin-left: 15px;
    border-radius: 0 !important;
    border-color: #64ffda !important;
}
.custom-btn:hover {
    opacity: 1;
    color: #8892b0 !important;
}

.btn:focus {
    box-shadow: none !important;
}

input {
    background-color: #2b2b2b !important;
    border-color: #2b2b2b !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 50px !important; 
}

textarea {
    background-color: #2b2b2b !important;
    border-color: #2b2b2b !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    height: 150px !important;
}
